/* BASICS STYLES */
:root {
  --DarkGrayishBlue: hsl(217, 19%, 35%);
  --DarkBlue: hsl(214, 17%, 51%);
  --GrayishBlue: hsl(212, 23%, 69%);
  --LightGrayishBlue: hsl(210, 46%, 95%);
  --font-heading: 'Manrope', sans-serif;
  --font-body: 'Roboto', sans-serif;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 13px;
}
body {
  font-family: var(--font-heading);
  font-weight: 500;
  color: var(--DarkBlue);
  line-height: 1.6;
  background-color: var(--LightGrayishBlue);
  min-height: 100vh;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* ARTICLE STYLES */
.preview {
  background-color: #fff;
  border-radius: 1rem;
  width: 25rem;
  margin: 2rem auto;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden; /* hide image radius bleed */
}
.preview__image {
  height: 15rem;
}
.preview__body {
  padding: 3rem 2rem 1.5rem;
  letter-spacing: 0.5px;
}
.preview__body h3 {
  font-weight: 700;
  padding-bottom: 1rem;
}
.preview-footer {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 1.5rem 2rem;
  height: 6.15rem;
}
.normal-state,
.share-state {
  display: flex;
  align-items: center;
}
.photo-wrapper {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}
.profile {
  margin-left: 2rem;
  line-height: 1.6;
}
.profile-name {
  font-weight: 700;
}
.profile-date {
  opacity: 0.8;
}
.share-lead {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--GrayishBlue);
}
.social-links {
  display: flex;
  align-items: center;
}
.social-link {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1.4rem;
}
.facebook {
  background: url('../images/icon-facebook.svg') no-repeat;
  background-position: center;
}
.twitter {
  background: url('../images/icon-twitter.svg') no-repeat;
  background-position: center;
}
.pinterest {
  background: url('../images/icon-pinterest.svg') no-repeat;
  background-size: cover;
  background-position: center;
}
.footer-button {
  background-color: var(--LightGrayishBlue);
  margin-left: auto;
  width: 3rem;
  height: 3rem;
  border: 0;
  border-radius: 50%;
  outline: 0;
  overflow: hidden;
  transition: transform 150ms linear;
}
.footer-button:hover,
.footer-button.share:hover {
  background-color: rgba(0, 255, 0, 0.3);
  transform: scale(1.2);
}
.footer-button img {
  width: 1.5rem;
  height: 1.5rem;
  object-position: center;
  object-fit: contain;
}
.preview-footer.share {
  background-color: var(--DarkGrayishBlue);
}
.footer-button.share {
  background-color: var(--DarkBlue);
}
.footer-button.share img {
  filter: brightness(0) invert(1);
}

/* UTILITY */
.hide {
  display: none;
}
/* FRONTEND MENTOR STYLES */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
